HotelRegisterClient/web/WEB-INF/wsdl/localhost_51995/HotelGeneratorService.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://localhost:51995/HotelGeneratorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelService.Models"/><xs:element name="InsertClient"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="id" type="xs:int"/><xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="last" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="mail" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="phone" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="InsertClientResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="InsertClientResult" nillable="true" type="q1:Table" xmlns:q1="http://schemas.datacontract.org/2004/07/HotelService.Models"/></xs:sequence></xs:complexType></xs:element></xs:schema>